@charset "utf-8";

:root {
    --ColorDefault1: #ffffff;
    --ColorDefault2: #000000;
    --ColorGray1: #808080;
    --ColorPrimary1: #13122e;
    --ColorPrimary2: #201f47;
    --ColorPrimary3: #282566;
    --ColorPrimary4: #040079;
    --ColorSecondary1: #ffa500;
    --ColorSecondary2: #ff6161;
}

* {
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    gap: 1rem;
    margin: 0;
    padding: 0;
    outline: 0;
    user-select: none;
}

body {
    background: linear-gradient(130deg, 
        var(--ColorPrimary1), 
        var(--ColorPrimary2),
        var(--ColorPrimary4))fixed;
    color: var(--ColorDefault1);
}

.main-content {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.body-calculator {
    display: grid;
    gap: 2rem;
    padding: 1rem;
}

.container-panel {
    display: grid;
    justify-items: center;
}

.panel-output-historic {
    color: var(--ColorGray1);
    font-size: 1.5rem;
    height: 2rem;
}

.panel-output-main {
    font-size: 2.5rem;
    height: 2.5rem;
    transition-duration: 0.1s;
    letter-spacing: 0.2rem;
}

.container-keyboard {
    display: grid;
    grid-template-areas: 
        'kb-config kb-config kb-config' 
        'kb-numbers kb-numbers kb-symbols'
        'kb-numbers kb-numbers kb-symbols'
    ;
    width: 244px;
    margin: 0 auto;
}

.keyboard-config {
    display: grid;
    grid-area: kb-config;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.keyboard-numbers {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-area: kb-numbers;
}

.keyboard-symbols {
    display: grid;
    grid-area: kb-symbols;
}

.keyboard-config .btn-default {
    color: var(--ColorSecondary2);
    font-size: 1rem;
}

.keyboard-symbols .btn-default {
    color: var(--ColorSecondary1);
}

.btn-default {
    background-color: transparent;
    border-radius: 0.5rem;
    color: var(--ColorDefault1);
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 3rem;
    transition-duration: 0.2s;
    width: 3rem;
}

.btn-default:hover {
    background-color: var(--ColorPrimary3);
}

@media (max-width: 244px) {
    * {
        font-size: clamp(8px, 12px + 0.5vw, 16px);
    }
}